<div id="communities">
  <h2>Apoiadores</h2>

  <div class="box">
    <ul>
      <li>
        <a href="http://horaextra.org">
        <img src="http://www.devinrio.com.br/files_2010/images/comunidades/logo_horaextra_off.png" alt="#horaextra" />
        </a>
      </li>
      <li>
        <a href="http://smallactsmanifesto.org">
          <img src="http://www.devinrio.com.br/files_2010/images/comunidades/logo-smallacts.png" alt="Small Acts Manifesto" />
        </a>
      </li>
      <li>
        <a href="http://dojorio.wordpress.com/">
          <img src="http://www.devinrio.com.br/files_2010/images/comunidades/logo_dojorio_off.png" alt="DojoRio" />
        </a>
      </li>
      <li>
        <a href="http://www.rubyinside.com.br/">
          <img src="http://www.devinrio.com.br/files_2010/images/comunidades/logo_rubyinside_off.png" alt="Ruby Inside" />
          </a>
      </li>
      <li>
        <a href="http://rubyonrio.org/">
          <img src="http://www.devinrio.com.br/files_2010/images/comunidades/logo-ruby-on-rio.png" alt="RubyOnRio" />
        </a>
      </li>
      <li>
        <a href="http://forkinrio.appspot.com/">
          <img src="http://www.devinrio.com.br/files_2010/images/comunidades/logo-forkinrio.png" alt="ForkinRio" />
        </a>
      </li>
      <li>
        <a href="http://www.arduinrio.cc/">
          <img src="http://www.devinrio.com.br/files_2010/images/comunidades/logo-arduinoinrio.png" alt="Arduino in Rio" />
          </a>
        </li>
    </ul>
  </div>

</div>