<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="RubySchool" />
  <meta name="keywords" content="ruby, ruby on rails, palestra, universidade, programação" />

  <title>{{ page.title }} &raquo; RubySchool.org</title>

  <link type="text/css" href="stylesheets/reset.css" rel="stylesheet" media="screen" />
  <link type="text/css" href="stylesheets/styles.css" rel="stylesheet" media="screen" />
  <link type="text/css" href="stylesheets/speaker.css" rel="stylesheet" media="screen" />

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
</head>
<body>
  <div id="page">
    <div id="header">
      <div id="logo"><a href="/">Ruby<span>School</span></a></div>
      <!-- 
      <ul id="menu">
        <li><a href="/sobre/">Sobre</a></li>
        <li><a href="/contato/">Contato</a></li>
        <li><a href="/quero-rubycampus-na-minha-universidade/">Eu quero!</a></li>
      </ul>
      -->
    </div>
    <hr />
    <div id="content">
        {{ content }}
    </div>
    <hr />
  </div>
  <footer>
    <ul id="social">
      <!--<li><a href="http://twitter.com/pythonrio"><img src="{{ MEDIA_URL }}images/twitter.png" alt="Twitter" /></a><li>
      <li><a href="http://www.facebook.com/group.php?gid=258083843574"><img src="{{ MEDIA_URL }}images/facebook.png" alt="Facebook" /></a></li>
      <li><a href="http://www.orkut.com.br/Main#Community?cmm=97922250"><img src="{{ MEDIA_URL }}images/orkut.png" alt="Orkut" /></a></li>
      <li><a href="http://www.flickr.com/photos/pythoncampus"><img src="{{ MEDIA_URL }}images/flickr.png" alt="Flickr" /></a></li>
      <li><a href="http://www.youtube.com/pythoncampus"><img src="{{ MEDIA_URL }}images/youtube.png" alt="Youtube" /></a></li> -->
    </ul>
    <div id="info">
    <p>
      &copy; RubySchool | <a href="http://smallactsmanifesto.org/">Small Acts</a>

      </p>
  <!--
    <ul id="menu-footer">
      <li><a href="/sobre/">Sobre</a></li>
      <li><a href="/contato/">Contato</a></li>
      <li><a href="/quero-rubycampus-na-minha-universidade/">Eu quero!</a></li>
    </ul>
        -->
    </div>
    <p>
      Inspirado na <a href="http://pythoncampus.org/">PythonCampus</a>
    </p>
  </footer>
</body>
</html>
